ZhongHong__GatewayUrl=http://10.0.0.2 # Your ZhongHong VRF controller URL
ZhongHong__UserName=admin # ZhongHong default username
ZhongHong__Password= # ZhongHong default password
Mqtt__Broker=10.0.0.1 # Your MQTT broker address
Mqtt__HasCredential=true
Mqtt__Username=mqtt_username
Mqtt__Password=mqtt_password
